<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAxXkiRPqu9iYr7I7_wy3eokwiHZg4g18</string>
	<key>GCM_SENDER_ID</key>
	<string>289809985908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lostAndFound</string>
	<key>PROJECT_ID</key>
	<string>lost-and-foundxx</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-and-foundxx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289809985908:ios:1dab001986aec10de8fc21</string>
</dict>
</plist>